body {
    background-color: #f4f9fc;
    /* background-image: url("../Asset/Frame 4.png");
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-size: cover; */
}

.title, .sub-title,.cat-title {
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
    color: #4F4F4F;
}

.title {
    font-weight: 600;
    font-size: 2.25vw;
    line-height: 2.75vw;
    margin-bottom: 0.75vw;
    margin-top: 4vw;
}

.sub-title{
    color: #A1A1A1;
    line-height: 1.55vw;
    font-size: 1.3vw;
    font-weight: 500;
}

.start{
    margin-top: 0vw;
}

.category{
    padding-top: 6vw;
    padding-bottom: 4vw;
    background-image: url("../img/cate-cover.png");
}

.categories {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 5.5vw;
    margin: 7vw 18vw;
}

.category-list{
    width: 12vw;
    height: 12.25vw;
    border-radius: 1.5vw;
    box-shadow: inset 0 0 1vw rgb(0, 0, 0, 0.5);
}

.category-list img{
    width: auto;
    height: 12vw;
    margin-top: -5vw;
}

.cat-title{
    color: white;
    font-weight: 700;
    font-size: 1.75vw;
    line-height: 2vw;
    width: 10vw;
    margin-top: -2vw;
    text-align: center;
}

.courses {
    background-image: url("../img/course-cate-cover.png");
    background-size: cover;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 4vw;
    padding: 2vw 5vw;
    margin-top: 8vw;
}

.course-list{
    width: 20vw;
    height: 28vw;
    background-color: white;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw rgb(0, 0, 0, 0.5);
}

.course-list img{
    width: 18vw;
    height: auto;
    margin-top: -1.8vw;
}
.course-txt{
    padding: 1.25vw;
}

.course-title, .course-desc, .more{
    font-family: 'Poppins';
}

.cont{
    height: 2.7vw;
}

.course-title{
    font-size: 1.35vw;
    font-weight: 700;
    line-height: 1.5vw;
    margin-bottom: 0.5vw;
    /* height: 2.7vw; */
}

.course-desc{
    color: #494949;
    font-size: 1.05vw;
    line-height: 1.25vw;
    height: 8.75vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.more{
    color: white;
    font-size: 1.05vw;
    background-color: #0D6EFD;
    border-radius: 1vw;
    padding: 0.5vw 0vw;
    width: 8.25vw;
}

.more:hover{
    background-color: #0F5DD1;
}
/*
.cat-title, .category-list img{
    position: relative;
} */

/*

.category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    width: 12vw;
    height: 10.5vw;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 1vw;
}

.categories img{
    width: 20vw;
    height: 12vw;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8vw;
}


ul > li > h2 {
    margin-top: 4px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #918e8f;
}

ul > li > h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}



.cate {
    margin: 0px 265.5px;
    margin-top: 5px;
}



ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 293px;
    height: 307.44px;
}

.course {
    margin-top: 82px;
    margin-bottom: 34px;
}

.layout > li {
    width: 457px;
    height: 611px;
    border-radius: 20px;
    background-color: #ffffff;
}

.layout{
    margin: 0px 160.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.cour > div {
    border-radius: 20px 20px 0px 0px;
    width: 457px;
    height: 306px;
    background-image: url("../Asset/courseBg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.layout > li > h3 {

    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 31px;
    margin-bottom: 22px;
    margin-right: 26px;
    margin-left: 26px;
}

.layout > li > h4 {

    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #494949;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 22px;
}

.layout > li > h5 {

    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    background: #0d6efd;
    border-radius: 12px;
    padding: 9.5px 19.5px;
    width: 180px;
    height: 48px;
    margin-left: 26px;
}

.courses{
    margin-bottom: 100px;
}

.navbar-container{
    height: 8vh;
    font-family: 'Poppins';
} */
