
.hero{
    padding-top: 4vw;
    padding-bottom: 6vw;
    background-image: url("../img/course-top-bg.png");
    background-size: cover;
}

.hero img{
    margin-top: 2.5vw;
    width: auto;
    height: 15vw;
}

.title {
    margin-top: -0.5vw;
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    color: #4F4F4F;
}

.courses {
    background-image: url("../img/course-cate-cover.png");
    background-size: cover;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 4vw;
    padding: 2vw 5vw;
}

.course-list{
    width: 20vw;
    height: 28vw;
    background-color: white;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw rgb(0, 0, 0, 0.5);
}

.course-list img{
    width: 18vw;
    height: auto;
    margin-top: -1.8vw;
}
.course-txt{
    padding: 1.25vw;
}

.course-title, .course-desc, .more{
    font-family: 'Poppins';
}

.cont{
    height: 2.7vw;
}

.course-title{
    font-size: 1.35vw;
    font-weight: 700;
    line-height: 1.5vw;
    margin-bottom: 0.5vw;
    /* height: 2.7vw; */
}

.course-desc{
    color: #494949;
    font-size: 1.05vw;
    line-height: 1.25vw;
    height: 8.75vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.more{
    color: white;
    font-size: 1.05vw;
    background-color: #0D6EFD;
    border-radius: 1vw;
    padding: 0.5vw 0vw;
    width: 8.25vw;
}

.more:hover{
    background-color: #0F5DD1;
}

