.hero{
    padding-top: 2vw;
    margin: 2vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw
}

.course-info{
    width: 45vw;
}

.course-outline{
    background-image: url("../img/bg-course-detail.png");
    background-size: cover;
    padding: 2vw;
    border-radius: 1vw;
    position: relative;
}

.vid{
    background-image: url("../img/bg-video.png");
    box-shadow: inset 0 0 0.85vw rgb(0, 0, 0, 0.5);
    background-size: cover;
    padding: 1vw;
    border-radius: 1vw;
}

.txt{
    margin-left: 1vw;
}

.CourseName, .CourseDesc, .Category, .Enroll, .day-button, .courseDTitle{
    font-family: "Poppins";
}

.CourseName{
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.25vw;
}

.Category{
    color: #858585;
    font-size: 0.85vw;
    font-weight: 500;
}

.CourseDesc{
    margin-top:0.5vw;
    line-height: 0.9vw;
    padding-bottom: 2vw;
}

.course-img{
    width: 25vw;
    height: 12vw;
}

.Enroll{
    background-color: white;
    box-shadow: inset 0 0 0.45vw rgb(0, 0, 0, 0.5);
    color: #6F77E2;
    width: 7vw;
    height: 1.75vw;
    padding: 0.25vw;
    border-radius: 0.75vw;
    position: absolute;
    bottom: 0.75vw;
    right: 0.85vw;
}

.cancel-button , .enroll-button{
    font-weight: 700;
    font-size: 0.9vw;
}

.Enroll:hover{
    background-color:#6F77E2;
    color: white;
    cursor: pointer;
}

video{
    width: 48vw;
    height: auto;
    margin-bottom: 1vw;
}

.CourseName{
    padding-top: 1vw;
}

.day-button{
    font-weight: 600;
    font-size: 1.25vw;
    padding-left: 1vw;
}

.courseDTitle{
    font-size: 0.95vw;
    padding: 0.85vw 1vw 1vw 2vw;
    margin-left: 0.6vw;
    border-left: solid #D1D5DB 0.2vw;
    margin-top: -0.55vw;
}

.course-detail{
    padding-top: 2vw;
}


input.cek-box{
    width: 1.4vw;
    height: 1.4vw;
    margin: 0;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .popup {
    background-image: url("../img/bg-course-detail.png");
    background-size: cover;
    padding: 1vw 2vw;
    color: #333;
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 35vw;
    text-align: center;
  }

  .popup-title {
    font-family: "Poppins";
    margin: 0;
    font-size: 1.25vw;
    font-weight: bold;
  }

  .popup-message {
    margin: 0.25vw 0;
    font-family: "Poppins";

  }

  .popup-close-btn {
    background-color: #6F77E2;
    font-family: "Poppins";
    border: none;
    color: white;
    padding: 0.25vw 2vw;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 0.2vw;
    cursor: pointer;
    margin-top: 1vw;
  }

  .popup-close-btn:hover{
    font-family: "Poppins";
    background-color: #0F5DD1;
  }

  .VideoName{
    font-size:1.5vw;
}
.VideoDesc{
    font-size:1.1vw;
    line-height: 1.25vw;
  }