@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    max-width: 1920px;
}

p,h1,h2,h3,h4,h5,button, time{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
}

.course-header{
background-image: url("../Asset/Header.png");
max-width: 1920px;
height: 445px;
background-size: cover;
margin-bottom: 58px;
}

.course-header > h1,
.course-header > h4,
.course-header > h5{
    background-color: black;
    width: 960px;
    padding-left: 34px;
    padding-right: 19px;
}

.course-header > h1{
font-size: 56px;
line-height: 66px;
color: #FFFFFF;
height: 100px;
margin-bottom: 23px;
padding-top: 17px;
}

.course-header > h4{
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 9px;
}

.course-header > h5{
    font-weight: 400;
    height: 264px;
    font-size: 25px;
    line-height: 29px;
    text-align: justify;
    color: #FFFFFF;
}

.sub-title{
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
}

.course-outline{
    margin: 38px 94.5px 98px;
}

.course-outline > ol{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 315px);
    row-gap: 38px;
    column-gap: 157px;
    justify-content: space-between;
}

.course-outline h4{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

}

.course-outline h5{

    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

time{
    font-size: 36px;
    line-height: 42px;
}

.content{
    background-image: url("../Asset/BG2.png");
    background-size: cover;
}

.course-content > li > p, .course-content > li > .detail{
    padding-left: 137px;
}

.course-content >li> h3, .course-content>li>button{
    font-size: 48px;
    line-height: 56px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
}

.course-content>li>p, .detail>p, .det>p{
font-weight: 400;
font-size: 32px;
line-height: 37.5px;
text-align: justify;
padding-right: 196px;
padding-top: 34px;
padding-bottom: 34px;
}

.detail>p, .det>p{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
}

.course-content>li>button{
    width: 299px;
    height: 66px;
    background: #000000;
    border-radius: 135px;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 1366px;
}

.detail > ol > img {
    width: 465px;
    height: 440px;
    object-fit: cover;
    object-position: 0px 10%;
}

.det{
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 137px;
    background-color: #000000;
}

.det>p{
    margin-left: 93px;
}

.detail{
    background-color: #000000;
    margin-bottom: 34px;
}

.detail p{
    padding: 14px 196px 37px 0px;
}

.pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 196px;
}

.pic > img{
    padding: 28px;
}

video{
    width: 1528px;
    height: 860px;
    margin-left: 137px;
}

.finish{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    padding: 25px 148.5px;
    background-color: #000000;
    margin: 42px auto 5vw 544.5px;
}

button:hover,.course-content>li>button:hover{
    background-color: #494949;
}
