@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f4f9fc;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
}

.navbar-container {
    height: 8vh;
    /* margin-bottom: 5vh; */
    font-family: "Poppins";
}

.top {
    margin-top: 1vw;
    z-index: 1;
    padding-top: 2.3vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left {
    margin-left: 2vw;
    /* margin-top: 2vw; */
}

.cont {
    z-index: 1;
    height: 30vw;
    margin-left: 9vw;
}

.left img {
    width: 30vw;
}

.left h1 {
    font-size: 1.8vw;
    color: #4f4f4f;
}

.left p {
    font-size: 1.3vw;
    color: #a1a1a1;
    /* border: 1px solid black; */
}

.con-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2vw 0;
}

.input {
    background: linear-gradient(
        180deg,
        rgba(242, 242, 242, 0.67) 0%,
        rgba(242, 242, 242, 0) 100%
    );
    border: 0.125rem dashed rgba(133, 133, 133, 0.88);
    height: 30vw;
    width: 65vw;
    color: rgba(0, 0, 0, 0.49);
}

.input img {
    width: 14vw;
}

.input p {
    font-size: 1.5vw;
}

.generate {
    background-color: #6e7bdb;
    font-size: 1.4vw;
    padding: 0.8vw 0vw;
    margin: 0 44vw;
    border-radius: 2vw;
    color: #ffffff;
}

.generate:hover {
    background-color: #4f5ecf;
}

.qoutes {
    color: #858585;
    margin-bottom: 4vw;
    margin-top: 3vw;
}

.qoutes p {
    font-size: 1.8vw;
}

.hasil {
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output {
    margin-top: 1vw;
    margin-bottom: 3vw;
    background: white;
    height: 40vw;
    width: 65vw;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.25);
}

.output img {
    width: 20vw;
}

.output h1 {
    font-size: 2vw;
}

.boxes {
    width: 80%;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.box {
    width: 18%;
    height: 5vw;
    /* border: 1px solid black; */
}

.hasil {
    color: #4f4f4f;
    font-size: 1.5vw;
    /* border: 1px solid black; */
}
