@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
    background: linear-gradient(96.57deg, #767bde 20.06%, #f78c98 81.5%);
    font-family: Poppins;
}

.footerdown {
    background: linear-gradient(96.57deg, #767bde 20.06%, #f78c98 81.5%);
}

.down {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    height: 2rem;
}

.down p {
    margin: auto;
}

.kol {
}

.kol img {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 840px) {
    .kol {
        margin-left: 2vw;
        margin-bottom: 3vw;
    }
}
