@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4F9FC;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
}

.gradient-circle {
    position: absolute;
    width: 50vw;
    height: 35vh;
    border-radius: 50%;
}

.ellipse-1 {
    left: 15%;
    top: 1%;
    background: linear-gradient(270.64deg, #BFBCEB 13.73%, #EFC4CF 92.26%);
    filter: blur(130px);
}

.ellipse-2 {
    left: 80%;
    top: 30%;
    background: #FFDACA;
    filter: blur(130px);
}

.ellipse-3 {
    left: 85%;
    top: 30%;
    background: linear-gradient(109.91deg, #A9C5E7 10.17%, #F2CBEC 88.19%);
    filter: blur(130px);
}

.ellipse-4 {
    left: -15%;
    top: 60%;
    background: #FFDACA;
    filter: blur(130px);
}

.ellipse-5 {
    width: 30vw;
    height: 40vh;
    left: 45%;
    top: 110%;
    background: linear-gradient(96.78deg, #F9DBCD -4.94%, #C4C3E9 86.78%);
    filter: blur(5vw);
}

.navbar-container{
    height: 8vh;
    margin-bottom: 13vh;
}

.login-box{
    position: relative;
    z-index: 1;
    @apply flex flex-col items-center justify-center;
}

.login-box .sign-in{
    @apply text-7xl font-bold text-black mb-9;
}

.login-box .quote{
    @apply text-2xl text-center font-medium mb-6;
    width: 30vw;
}

.img-signin {
    position: absolute;
    width: 33vw;
    height: 68vh;
    left: 60vw;
    top: -9vh;
    padding-bottom: 5vh;
  }
